[submodule "lib/exus-build"]
	path = lib/exus-build
	url = https://github.com/heavenlyhash/exus-build.git
[submodule "lib/junit"]
	path = lib/junit
	url = http://mdm-releases.com/junit/junit-releases.git
	mdm = dependency
	mdm-version = 4.10.mvn
	update = none
[submodule "lib/log4j-core"]
	path = lib/log4j-core
	url = http://mdm-releases.com/org.apache.logging.log4j/log4j-core-releases.git
	mdm = dependency
	mdm-version = 2.0-rc1.mvn
	update = none
[submodule "lib/log4j-api"]
	path = lib/log4j-api
	url = http://mdm-releases.com/org.apache.logging.log4j/log4j-api-releases.git
	mdm = dependency
	mdm-version = 2.0-rc1.mvn
	update = none
[submodule "lib/netty"]
	path = lib/netty
	url = http://mdm-releases.com/io.netty/netty-all-releases.git
	mdm = dependency
	mdm-version = 5.0.0.Alpha1.mvn
	update = none
[submodule "lib/quasar-core"]
	path = lib/quasar-core
	url = http://mdm-releases.com/co.paralleluniverse/quasar-core-releases.git
	mdm = dependency
	mdm-version = 0.6.0.mvn
	update = none
[submodule "lib/quasar-actors"]
	path = lib/quasar-actors
	url = http://mdm-releases.com/co.paralleluniverse/quasar-actors-releases.git
	mdm = dependency
	mdm-version = 0.5.0.mvn
	update = none
[submodule "lib/asm"]
	path = lib/asm
	url = http://mdm-releases.com/org.ow2.asm/asm-releases.git
	mdm = dependency
	mdm-version = 4.2.mvn
	update = none
[submodule "lib/asm-commons"]
	path = lib/asm-commons
	url = http://mdm-releases.com/org.ow2.asm/asm-commons-releases.git
	mdm = dependency
	mdm-version = 4.2.mvn
	update = none
[submodule "lib/asm-analysis"]
	path = lib/asm-analysis
	url = http://mdm-releases.com/org.ow2.asm/asm-analysis-releases.git
	mdm = dependency
	mdm-version = 4.2.mvn
	update = none
[submodule "lib/asm-util"]
	path = lib/asm-util
	url = http://mdm-releases.com/org.ow2.asm/asm-util-releases.git
	mdm = dependency
	mdm-version = 5.0.3.mvn
	update = none
[submodule "lib/guava"]
	path = lib/guava
	url = http://mdm-releases.com/com.google.guava/guava-releases.git
	mdm = dependency
	mdm-version = 15.0.mvn
	update = none
[submodule "lib/asm-tree"]
	path = lib/asm-tree
	url = http://mdm-releases.com/org.ow2.asm/asm-tree-releases.git
	mdm = dependency
	mdm-version = 5.0.3.mvn
	update = none
